body {
  text-align: center;
  background-color: rgb(172, 170, 170);
}
#h1 {
  background-color: rgb(3, 24, 44);
  color: white;
  margin: 1px;
  padding: 15px;
}
nav {
  padding: 15px;
  background-color: rgb(97, 8, 8);
  color: black;
}
a {
  color: white;
  margin: -1px;
  padding: 10px;
  font-family: serif;
  font-size: larger;
}
#im {
  width: 250px;
  height: 250px;
  float: right;
}
